# =============================================================================
# General
# =============================================================================
TZ=America/New_York


# =============================================================================
# Jellyfin
# =============================================================================
JELLYFIN_SERVER_NAME=Jellyfin
JELLYFIN_SERVER_LOCAL_URL=http://jellyfin:8096
JELLYFIN_SERVER_ADDRESS=http://localhost:8096


# =============================================================================
# Feishin
# =============================================================================
FEISHIN_SERVER_LOCK=false
FEISHIN_SERVER_TYPE=navidrome # jellyfin or navidrome
FEISHIN_SERVER_URL=http://localhost:4533


# =============================================================================
# VPN Configuration
# =============================================================================
VPN_SERVER_COUNTRIES=United States
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=openvpn # openvpn or wireguard

# OpenVPN Config
OPENVPN_USER=your_openvpn_username
OPENVPN_PASSWORD=your_openvpn_password

# Wireguard Config
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key
WIREGUARD_ADDRESSES=10.2.0.2/32


# =============================================================================
# Storage
# =============================================================================
MEDIA_STORAGE=/path/to/media
TORRENT_DOWNLOADS=/path/to/torrent/downloads


# =============================================================================
# Passwords
# =============================================================================
PW=change_me_to_a_secure_password
POSTGRES_PASSWORD=change_me_to_a_secure_postgres_password


# =============================================================================
# Performance
# =============================================================================
USE_GPU_CLUSTERING=true


# =============================================================================
# Network
# =============================================================================
LAN_SUBNET=192.168.1.0/24


# =============================================================================
# Prowlarr Proxy
# =============================================================================
PROWLARR_HTTP_PROXY=http://gluetun:8888
PROWLARR_HTTPS_PROXY=http://gluetun:8888


# =============================================================================
# Application Data
# =============================================================================
DATA_LOCATION=/srv/docker


# =============================================================================
# Port configuration
# =============================================================================
JELLYFIN_SERVER_PORT=8096 # default: 8096
NAVIDROME_PORT=4533 # default: 4533
FEISHIN_PORT=9180 # default: 9180
SEERR_PORT=5055 # default: 5055
QBITTORRENT_PORT=8080 # default: 8080
RADARR_PORT=7878 # default: 7878
SONARR_PORT=8989 # default: 8989
# LIDARR_PORT=8686 # default: 8686 # WIP
# READARR_PORT=8787 # default: 8787 # WIP
FLARESOLVERR_PORT=8191 # default: 8191
PROWLARR_PORT=9696 # default: 9696
YOUTARR_PORT=9004 # default: 3011